.bento-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6px;
    padding: none;
  }
  .
  
  .bento-item {
    background: #f5f5f7;
    border-radius: 8px;
    overflow: hidden;
    height: 350px;
  }
  
  .bento-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px; 
  }
  
  /* Special sizes */
  .large {
    grid-column: span 2;
    grid-row: span 2;
  }

  /* .wide {
    grid-column: span 2;
  }
   */
 